*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 38px 23px, bottom right;
   
}

nav div h1{
    font-weight: 900;
    font-size:45px;
}

nav div h1 span{
    color:#FD6E0A;
}

.parent{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

nav{
     max-width:1105px;
    margin:0 auto;
    padding-top:51px;
}

.items{
    display:flex;
    list-style: none;
    gap:51px;
    font-size:20px;
    align-items:center;
}

nav div ul li a{
    text-decoration: none;
    color:#474747;
    cursor:pointer;
}

.btn{
    color:white;
    background-color: #FD6E0A;
    border:none;
    border-radius:5px;
    padding: 18.28px 35px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}



.hero-container{
    display:flex;
    align-items: center;
    justify-content: space-between ;
    margin:46px 47px 0px 205px;
    max-width:1323px;
    
}

.hero-container div h2{
    font-weight: 600;
    font-size: 45px;
    color:#474747;
    margin-bottom:5px
}


.hero-container div h1{
    font-weight:bold;
    font-size:85px;
    color:#181818;
    margin-bottom:20px;
}

.hero-container div p{
    font: size 18px;
    line-height:30px;
    color:#757575;
    margin-bottom:30px;
}

.btn2{
      color:#FD6E0A;
    background-color:  #FFF8F3;
    border:1px solid #FD6E0A;
    border-radius:5px;
    padding: 18.28px 35px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}

.btn2:hover{
  
    color:#FFF8F3;
    background-color: #FD6E0A;
}

.btn:hover{
    padding:17.28px 34px;
  
    color:#FD6E0A;
    background-color:#FFF8F3;
    border:1px solid #FD6E0A;
    
}

.btn3:hover{
    padding:17.28px 34px;
   
    color:#FD6E0A;
    background-color:#FFF8F3;
    border:1px solid #FD6E0A;
    
}


.hero-container div .hero-image{
    max-width:584px;
    vertical-align:middle;
}

.hero-content{
    max-width:520px;
}

.btn-container{
    display: flex;
    gap:30px;
}


.info-container{
    display:flex;
    justify-content: space-around;
}

.info-container p{
    font-size:20px;
    line-height: 30px;
    color:#757575;
}


.info-container h4{
    font-size:20px;
    line-height:30px;
    color:#474747;
}

.info-paragraph{
    font-size:18px;
    line-height:30px;
    color:#757575;
    margin-bottom:30px
}

.info-heading{
    color:#181818;
    font-size:35px;
    margin-bottom:30px;
}

.about-section{
    background-color: #FFF8F3 ;
    padding:131px 157px;
    text-align: center;
    max-width:1140px;
    margin:0 auto;
    margin-top:130px;
    border-radius:10px;
}


.logo{
    width:44px;
    margin-bottom:30px;

}

.logo-head{
    font-size: 20px;
    color:#181818;
    margin-bottom:20px;
}

.logo-description{
    font-size:16px;
    line-height:28px;
    color:#757575;
}

.skill-card{
    max-width:267px;
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}


.skill-card-container{
    display:flex;
    gap:24px;
}


.do-head{
    font-size:35px;
    color:#181818;
    margin-bottom:30px;
}

.do-paragraph{
    color:#757575;
    font-size:18px;
    line-height:30px;
    max-width:827px;
    margin:0 auto;
    margin-bottom:50px;
}

.do-container{
    margin:0 auto;
    max-width:1140px;
    padding-top:130px;
    text-align:center;
}



.background-info hr{
    margin:30px 0;
}


.background-descrioption{
    font-size:16px;
    line-height: 28px;
    color:#757575;
}

.background-title{
    font-size:20px;
    font-weight:600;
    color:#757575;
    margin-bottom:20px;
}

.background-info h3{
    font-size:25px;
    color:#474747;
    margin-bottom:10px;
}


.background-container{
    max-width:558px;
}

.background-container h2{
    font-size:30px;
    color:#474747;
    margin-bottom:30px;
}


.background-mother-container{
    display:flex;
    gap:24px;
    justify-content: center;
}

.background-header{
    color:#181818;
    font-size:35px;
    margin-bottom:113px;
    text-align: center;
}

.background-section{
    padding-top:130px;
    margin:0 auto;
}


.btn3{
    
     color:white;
    background-color: #FD6E0A;
    border:none;
    border-radius:5px;
    padding: 18.28px 35px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;

}

.button-center{ 
    text-align:center;
    margin-top:50px;
}


.footer-header{
    font-size:35px;
    margin-bottom:28px;
}

.name-input{
    width:461px;
    border-radius:5px;
    border:none;
    color:#757575;
    padding:18px 0 18px 30px;
    font-size:16;
    line-height:28px;
    margin-bottom:24px;
   
}


.textarea{
    width:461px;
    border-radius:5px;
    border:none;
    color:#757575;
    padding:18px 0 18px 30px;
    font-size:16;
    line-height:28px;
    margin-bottom:24px;
    
}


.footer-text{
    color:#474747;
    font: size 16px;
    line-height:28px;
    margin-bottom:30px;
    max-width:562px;
}

footer a img{
    width:24px;
}

.contact-icons{
    display:flex;
    gap:24px;
}

.footer-container{
    max-width:1140px;
    display:flex;
    gap:117px;
    margin:0 auto;
}

footer{
    margin-top:113px;
    background-color: #FFF8F3;
    padding:130px 0px;
   

}