*{
     font-family: "Work Sans", sans-serif;
     margin: 0;
     padding: 0;
}

header{
         background-color: rgba(255, 144, 14, 0.1);
}







/* nav section */
.nav-menu{
     list-style:none;
     display:flex;
     justify-content: space-between;
    
}

.nav-menu-parent{
     width: 477px;
    
}


.nav-menu li a{
     text-decoration:none;
     color:#727272;
     font-weight: 500;
     font-size:1.125rem;
     line-height:1.625rem;
}

nav{
     display:flex;
     max-width:1440px;
     margin: 0 auto;
     justify-content: space-between;
     align-items: center;
     padding-top: 50px;
}

.logo{
     font-size:2.8125rem;
     color:#131313;

}


/* hero section */

.hero-content{
     max-width:870px;
     margin: 0 auto;
}



.hero-header{
     font-size:4rem;
     color:#131313;
   
     margin-bottom:24px;
     margin-top:100px;
}


.hero-p{
     font-size:1rem;
     line-height:26px;
     color:#727272;
   
     margin-bottom:32px;
}

.main-button{
     font-weight:600;
     font-size:1.25rem;
     color:white;
     background-color: #FF900E;
     border:none;
     border-radius:8px;
     padding:20px 24px;
     margin-bottom:50px;
}

.hero-banner{
     width:100%;
     margin-bottom:45px;
}



.hero-section{
     max-width:1440px;
     text-align: center;
     margin: 0 auto;
}


/* section2 */

.h-s-1{
     font-size:2.8125rem;
}

.h-s-2{
     font-weight:500;
     color:#131313;
}

.h-s-3{
     color:#FF900E;
}

.sec-1-p{
     font-size:1rem;
     line-height: 26px;
     color:#131313;
     margin-top:24px;
     margin-bottom:32px;
}



.sec-2-div-2{
     max-width:530px;
}


.sec-2-div-1{
     max-width: 708px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap:24px;
}

.section-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 73px;
    max-width:1320px;
    margin: 0 auto;
    margin-top:85px;
}

.sec-2-div-1 img{
    width: 100%;
    border-radius: 8px;
}



.s-3-h{
      font-size:2.8125rem;
      padding:21px;
      border-left:5px solid #FF900E;
}


.sec-3-p{
     color:#131313;
     line-height: 26px;
     font-size:1rem;
     margin-top:24px;
     margin-bottom:30px;
}


.sec-3-card-h{

     font-weight:600;
     font-size:1.25rem;
     color:#131313;
     
}

.sec-3-card-p{
     line-height: 26px;
     font-size:1rem;
     color:#727272;
     margin-bottom:30px;

     
}

.sec-3-card{
     border-radius:8px;
     width:100%;
     box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
     margin-bottom:20px;
     padding:30px 42px 30px 30px;
}


.sec-3-div-1{
     max-width:586px;
}



.special-style{
     font-weight:bold;
     font-size:4.0625em;
     line-height:70px;
}


.special-btn{
    
     font-weight:500;
     font-size:1.5625em;
     line-height:40px;
     padding: 46px 42px;
}

.section-3{
     display:flex;
     gap:54px;
     max-width:1440px;
     margin:130px auto;

}


.architect-img{
     max-width:708px;
     display: flex;
     justify-content: right;
     align-items: top;
     
}

.architect-img img{
     width:100%;

}


















/* responsive */

@media screen and (max-width:576px) {

     nav{
          flex-direction:column;
          text-align: center;
     }

     .nav-menu-parent{
          width:100%;
     }

    .nav-menu{
     display:grid;
     grid-template-columns: repeat(2, 1fr);
     padding-top:30px;
     row-gap: 30px;
    }

    .hero-content{
     padding-left: 5px;
     padding-right: 5px;
    }

    .section-2{
     flex-direction: column-reverse;
     padding:0 10px;
    }

    .sec-2-div-1{
     grid-template-columns: repeat(1, 1fr);
     gap:24px;
     }

      .sec-2-div-2{
          text-align: center;
      }
}


@media screen and (max-width:1439px) {
    nav{
     padding-left: 10px;
     padding-right: 10px;
    }

    
}


@media screen and (max-width:992px) and (min-width:576px) {

     .nav-menu{
     display: grid;
     grid-template-columns: 1fr 0.5fr;
     padding-left: 10px;
     row-gap: 30px;
     
    }
     
     .hero-content{
     padding-left: 5px;
     padding-right: 5px;
    }
    

     .section-2{
     flex-direction: column-reverse;
     padding:0 10px;
    }

    .sec-2-div-2{
          text-align: center;
      }

}
