*{
     font-family: "Work Sans", sans-serif;
     margin: 0;
     padding: 0;
}

header{
         background-color: rgba(255, 144, 14, 0.1);
}







/* nav section */
.nav-menu{
     list-style:none;
     display:flex;
     justify-content: space-between;
    
}

.nav-menu-parent{
     width: 477px;
    
}


.nav-menu li a{
     text-decoration:none;
     color:#727272;
     font-weight: 500;
     font-size:1.125rem;
     line-height:1.625rem;
}

nav{
     display:flex;
     max-width:1440px;
     margin: 0 auto;
     justify-content: space-between;
     align-items: center;
     padding-top: 50px;
}

.logo{
     font-size:2.8125rem;
     color:#131313;

}


/* hero section */

.hero-content{
     max-width:870px;
     margin: 0 auto;
}



.hero-header{
     font-size:4rem;
     color:#131313;
   
     margin-bottom:24px;
     margin-top:100px;
}


.hero-p{
     font-size:1rem;
     line-height:26px;
     color:#727272;
   
     margin-bottom:32px;
}

.main-button{
     font-weight:600;
     font-size:1.25rem;
     color:white;
     background-color: #FF900E;
     border:none;
     border-radius:8px;
     padding:20px 24px;
     margin-bottom:50px;
}

.hero-banner{
     width:100%;
     margin-bottom:45px;
}



.hero-section{
     max-width:1440px;
     text-align: center;
     margin: 0 auto;
}

/* responsive */

@media screen and (max-width:576px) {

     nav{
          flex-direction:column;
          text-align: center;
     }

     .nav-menu-parent{
          width:100%;
     }

    .nav-menu{
     display:grid;
     grid-template-columns: repeat(2, 1fr);
     padding-top:30px;
     row-gap: 30px;
    }

    .hero-content{
     padding-left: 5px;
     padding-right: 5px;
    }
}


@media screen and (max-width:1439px) {
    nav{
     padding-left: 10px;
     padding-right: 10px;
    }

    
}


@media screen and (max-width:992px) and (min-width:576px) {

     .nav-menu{
     display: grid;
     grid-template-columns: 1fr 0.5fr;
     padding-left: 10px;
     row-gap: 30px;
     
    }
     
     .hero-content{
     padding-left: 5px;
     padding-right: 5px;
    }
    
}
