*{
     font-family: "Work Sans", sans-serif;
     margin: 0;
     padding: 0;
}

.nav-menu{
     list-style:none;
    
 
     display:flex;
     justify-content: space-between;
    
}

.nav-menu-parent{
     width: 477px;
    
}


.nav-menu li a{
     text-decoration:none;
     color:#727272;
     font-weight: 500;
     font-size:18px;
     line-height:26px;
}

nav{
     display:flex;
     max-width:1440px;
     justify-content: space-between;
     align-items: center;
     padding-top: 50px;
}

.logo{
     font-size:45px;
     color:#131313;

}
