body{
    background-color: antiquewhite;
    max-width: 1250px;
    margin: 0 auto;
    
}

.photo{
    width:500px;
    border-radius:10px;
}

.hero{
    display:flex;
    background-color: aquamarine;
    padding:20px 30px;
    border-radius:10px;
    align-items: center;

}

.content{
    font-size:1.25em;

}

button{
    background-color: wheat;
    font-weight:bold;
    font: size 1.5em;
    padding:15px 25px;
    border:none;
    border-radius:10px;
}

button:hover{
    cursor:pointer;
    box-shadow:3px 3px 7px rgba(0, 0, 0, 0.5);
    transition-duration: 0.25s;
}

button:active{
    background-color: beige;
}