nav ul{
    display:flex;
    justify-content: space-evenly;
    background-color: cadetblue;
    padding:10px 10px;
}
nav li a{
    text-decoration: none;
    color:black;
}
nav li{
    list-style: none;
    margin: none;
    padding:10px 10px;
}

nav li:hover{
    background-color: gray;
}