*{
     font-family: "Work Sans", sans-serif;
     font-optical-sizing: auto;
     margin:0;
     padding:0;
}

nav a{
    text-decoration: none;
    color:#151414;
    font-weight:600;
    font-size:20px;

}
nav{
    display:flex;
    justify-content: end;
    gap:20px;
    padding:20px;
}

.nav-button{
    color:white;
    background-color: #005FAC;
    font-weight:600;
    
    font-size:20px;
    padding:20px 36px;
   
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.nav-button:hover{
    color:#005FAC;
    background-color:white;
    transition-duration: 0.15s;
    border:1px solid #005FAC;
    padding:19px 35px;

}


.nav-bar{
    display:flex;
    justify-content: space-between;
    padding:20px;
    align-items: center;

}

.nav-bar h3{
    font-size:30px;
}

span{
    color:#005FAC;
}


.header-section{
    display:flex;
    flex-direction:column;
    align-items:end;
    justify-content: center;
    
}


.header-section h1{
    font-size:65px;
    color:#151414;
    max-width:525px;
    text-align: right;
    margin-bottom:24px;
}

.header-section p{
    font-size:16px;
    line-height:26px;
    color:#444343;
    max-width:494px;
    text-align: right;
    margin-bottom:32px;
}

.header-section button{
     font-weight:600;
    background-color:white;
    font-size:20px;
    padding:25px 20px;
    color:#005FAC;
    border:none;
    border-radius:5px;
    cursor:pointer;
}





.header-section button:hover{
    color:white;
    background-color: #005FAC;
    transition-duration: 0.15s;
    border:1px solid white;
    padding:24px 19px;
}

header{
    padding: 216px 229px 166px 0px;
    background:url("../images1/banner/banner3.png");
    max-width:1600px;
    display: flex;
    justify-content:right;
    
}

.person-flaws-heading{
    font-size:40px;
    color:#151414;
    margin-bottom:24px;
}

.person-flaws-p{
    font-size:16px;
    line-height:26px;
    color:#444343;
    margin-bottom:16px;
}

.person-flaws-container{
    max-width:416px;
}

.person-flaws-parent{
    display:flex;
    gap:87px;
    align-items:center;
    max-width:1072px;
    margin:130px auto;
}



.person-flaws-parent ul{
    list-style:none;
}

.person-flaws-parent ul li span{
   color:#16D887;
}

.person-flaws-parent ul li{
    margin-bottom:8px;
}

.plan-parent img{
    width:92.96px;
    margin-bottom:24px;
  
}

.plan-parent h5{
    font-size:30px;
    color:#151414;
    margin-bottom:16px;
}

.plan-parent p{
    font-size:25px;
    color:#444343;
    text-align: center;
}

.plan-card{
    text-align: center;
    
}

.plan-card-section{
    display:flex;
    justify-content: space-between;
}

.plan-parent h1{
    font-size:40px;
    color:#151414;
    margin-bottom:55px;

}

.plan-parent{
    text-align:center;
    max-width:1140px;
    margin: 0 auto;
}

.gradient-heading{
    font-size:40px;
    color:white;
    margin-bottom:24px;
    max-width:459px;
}

.btn{
    font-weight:600;
    background-color:white;
    font-size:20px;
    padding:20px 36px;
    color:#005FAC;
    border:none;
    border-radius:5px;
    cursor:pointer;
   
}


.btn:hover{
    color:white;
    background-color: #005FAC;
    transition-duration: 0.15s;
}

.btn2{
    font-weight:600;
    background-color: #005FAC;
    font-size:20px;
    padding:20px 36px;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}


.btn2:hover{

    color:#005FAC;
    background-color:white;
    
    
    transition-duration: 0.15s;

}


.gradient-section{
    max-width:1140px;
    margin:130px auto;
    background:url("../images1/gradient1.png"), url("../images1/watch.png");
    padding:59px 64px;
    border-radius:8px;
    background-repeat: no-repeat;
    background-size: cover;
}

.icons-container a img{
    width:46px;
    margin-right:17px;
}

.footer-text{
    font-size:16px;
    line-height:26px;
    color:white;
    margin-bottom:24px;
}


.footer-email{
    font-size:16px;
    line-height:26px;
    color:white;
    margin-bottom:16px;
}

.footer-number{
    font-size:16px;
    line-height:26px;
    color:white;
    margin-bottom:32px;
}

footer h1{
    color: #f8f8f8;
    font-size:45px;
}

footer{
    background-color:#151414;
    
}

.footer-div1{
    max-width:485px;
}

.footer-div2 p{
    color:white;
    font-size:25px;
    font-weight:600;
    margin-bottom:30px;
}

.footer-div2 input{
    color: #f3f3f3;
    background-color: #151414;
    padding:21px;   
    width:325px;
    border-radius:8px;
    border:1px solid white;
    margin-bottom:16px;
}

.footer-div2{
    max-width: 325px;
}

.footer-div-container{
    padding:130px 230px;
    display:flex;
    justify-content:space-between;
}

